In [1]:
print("yellow")
print('ok')

yellow
ok

In [3]:
a = 23
print(a)
print ('avengers')

23
avengers

In [14]:
b = 7
print (b + a)
print (a-b)
print (a*b)
print (a/b)
print (a)

7
-7
0
0.0
0

In [10]:
c = a+b
print(c)

30

In [6]:
abc = (11)

In [7]:
ABC = (9)
print(ABC)

9

In [13]:
a = 0
print(a)

0

In [22]:
a = 23
print (a)
b = 7
print (b)
print (a+b)
print (a-b)
print (a*b)
print (a/b)

23
7
30
16
161
3.2857142857142856

In [1]:
fruits = ['apple','goa','mango']
fruits.reverse()
print(fruits)

['mango', 'goa', 'apple']

In [2]:
import random
num = random.random()
print(num)

0.5050852202171703

Reverse a number while loop

In [3]:
num = 1234
reversed_num = 0
while num !=0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //=10

print("Reversed Number:"+ str(reversed_num))

Reversed Number:4321

In [6]:
num = 123456
print(str(num)[::-1])

654321

In [10]:
def check (s1,s2):
    if (sorted(s1)==sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagram.")    
s1 ="listen"        
s2 ="silent"
check(s1,s2)

The strings are anagrams.

In [1]:
a = 12
b = 8
# This program is all about addition
print(a+b)

20

In [2]:
a = 12
b = 8
"""hello
there
hii
"""
print(a+b)

20

In [3]:
a ="avengers"
print(len(a))

8

In [4]:
a ="12"
b ="8"
print(a+b)

128

In [5]:
a ="cody"
b ="code"
print(a+b)

codycode

In [6]:
print("hello\nhello")

hello
hello

In [7]:
print("hello\thello")

hello	hello

#### data type

In [8]:
a = 10
print(type(a))

<class 'int'>

In [9]:
a = 0.001
print(type(a))

<class 'float'>

In [10]:
a = 12 + 3j
print(type(a))

<class 'complex'>

In [11]:
a = "avengers"
print(type(a))

<class 'str'>

In [12]:
a = 'avengers'
print(type(a))

<class 'str'>

In [13]:
a = 110
b = 10
print(a>b)
#print(a<b)

True

In [14]:
print(type(print(a)))

110
<class 'NoneType'>

## type casting

In [15]:
a = 10
print(float(a))

10.0

In [16]:
a = 9.678
b = int(a)
print(b)

9

In [24]:
a=9.1
print(round(a))

9

In [18]:
a ="12"
print(int(a))

12

In [19]:
b =12 + 3j
print(int(b))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
a = 1
print(bool(a))

## TASK

In [1]:
a = 23
print (type(a))

<class 'int'>

In [2]:
b = 0.007
print (type(b))

<class 'float'>

In [3]:
c =2+3j
print (type(c))

<class 'complex'>

In [4]:
d = "avengers"
print (type(d))

<class 'str'>

In [5]:
a = 23
print(float(a))

23.0

In [6]:
print(int(b))

0

In [7]:
print(bool(c))

True

In [8]:
a = 10
b = 23
print(bool(a>b))

False

In [9]:
print (list(d))

['a', 'v', 'e', 'n', 'g', 'e', 'r', 's']

In [10]:
print (frozenset(d))

frozenset({'r', 'g', 'a', 's', 'v', 'e', 'n'})

In [14]:
x = {"name" : "John", "age" : 36}
print (dict(x))

{'name': 'John', 'age': 36}

In [15]:
print (set(d))

{'r', 'g', 'a', 's', 'v', 'e', 'n'}

In [16]:
print(type(print(a)))

10
<class 'NoneType'>

In [21]:
print("go\bgo")

ggo

In [23]:
print ("end\rend")

end

In [22]:
print("end\fend")

endend

In [24]:
print ("go\rend")

end

In [26]:
print ("go\\go")

go\go

## operator

## arethmatic operator

In [27]:
a =10
b= 8
print(a+b)

18

In [28]:
print(a//b) #floor

1

In [29]:
print(a%b) #mod

2

In [30]:
print(3**3) # exponend(power off)

27

## Bodmass

In [ ]:
a = input()
b = input()
print(a+b)

## Comparision /Relational operator

In [1]:
a = 23
b = 10
print(a>b)

True

In [2]:
print (a==b)

False

In [3]:
print(a!=b)

True

## Logical operator

In [5]:
a = 23
b = 10
c = 1

print(not((a>b)and (c>a)))

True

In [6]:
print((a>b)or(c>a))

True

## Assignment value

In [7]:
a = 10
a +=2
print(a)

12

In [9]:
a = 10
a =a*3
a= a-4
print(a)

26

In [8]:
a = 10
a *= 3
a -= 4
print(a)

26

## Identity operator

In [11]:
print(a is not b)

False

In [10]:
a =2
b=2
print(id(a))
print(id(b))
print(a is b)

140734447084360
140734447084360
True

In [13]:
a =[1,2,3,4,5]
b =[1,2,3,4,5]
a = b
print(id(a))
print(id(b))
print(a is b)

2043609906944
2043609906944
True

## Membership Operator

In [14]:
a="avengers"
print("a" in a)

True

In [15]:
print ("A" not in a)

True

## Bitwise Operator

In [1]:
a =10
b =8
print(a^b)

2

In [17]:
print(a&b)

0

In [18]:
print(~a)

-11

## Control Statement

In [1]:
a=10
b = 5

if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

In [3]:
a = int(input(10))
b = int(input(9))

if a>b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

10 is greater than 9

In [4]:
a = int(input())

if a>=0:
    if a>0:
        print("Positive")
    else:
        print("zero")
else:
    print("negative")

Positive

In [2]:
# Python program to check if year is a leap year or not

year = 2001

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2001 is not a leap year

In [8]:
a = int(input("enter the value:"))
if a%2==0:
    print("even")
else:
    print("odd")

even

## For loop

In [2]:
a =[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

## Range

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [11]:
print("hello","everyone","welcome")

hello everyone welcome

In [14]:
print("hello","everyone","welcome",sep=".")

hello.everyone.welcome

In [16]:
print("hello","everyone","welcome",sep="$",end="\n")
print("jhyqc")

hello$everyone$welcome
jhyqc

In [18]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

## Break

In [20]:
##break
for i in range(15):
    if i ==20:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

#### Continue

In [21]:
for i in range(15):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13

## pass

In [22]:
for i in range(20):
    pass

#### user define functions

In [1]:
a = 10
b = 12
c =14
d =17
print(a+b)

22

In [2]:
print('welcome to python class')

welcome to python class

In [3]:
def besant():
    print("welcme to python class")

In [4]:
besant()

welcme to python class

#### function with orguments

In [5]:
def add(a,b):
    print(a+b)

In [6]:
add(2,8)

10

#### default args

In [7]:
def country(a="asia"):
    print(f"i am from{a}")

In [8]:
country("canada")

i am fromcanada

## scope of variables

In [2]:
def abc():
    m=10
    n=23


print(abc)

<function abc at 0x0000019C239D9940>

In [14]:
def abc():
    global m,n
    m=10
    n=23

abc()
print(m)

10

## return

In [18]:
def sub(a,b):
    return(a-b)

In [20]:
x =sub(12,5)
y =x+2
print(y)

9

## Lambda Function

In [21]:
f = lambda a : a + 2 
f(12)

14

In [22]:
e = lambda a,b :a+b

e(8,9)

17

## Doc String

In [1]:
def div(a,b):
    "The function is all about division"
    div(12,3)

## file handling

In [ ]:
f = open("task.txt")
print(f.read())
f.close()

## operator level

In [1]:
a ='12'
b='1'
print(a+b)

121

## functional level

In [ ]:
class chinese():
    def sayHello(self):
        print('h')

## list

In [ ]:
list1 =[]